/* Global Styles */
body {
  font-family: 'Proxima Nova', -apple-system, 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #ebebeb;
}

/* Custom Scrollbar for nicer aesthetic */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}